    h1, h2, h3, h4 {
        font-weight: 100;
        margin-bottom: 5px;
        margin-top: 0;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        margin-top: 30px;
    }
    h3 {
        font-size: 15px;
    }
    body {
        width: 350px;
        margin: 35px auto 100px;
    }
    img {
        width: 100%;
        margin-top: 35px;
    }
    header {
        border-bottom: 0.5px solid black;
        padding-bottom: 4px;
        margin-bottom: 8px;
    }
    ul {
        margin-top: 0;
        list-style-type: none;
        padding-left: 0;
    }
    ul.normal {
        margin-top: 15px;
        margin-bottom: 35px;
        list-style-type: disc;
        padding-left: 15px;
        font-size: 13px;
      }
    ul.normal > li {
        margin-bottom: 3px;
        display: block;
    }
    li {
        display: inline-block;
        margin-right: 3px;
    }
    h1 > a {
      color: black;
      text-decoration: none;
    }
    li > a {
        text-decoration: none;
        font-size: 15px;
    }
    li > a:hover {
      text-decoration: underline;
    }
    p {
      font-size: 13px;
      line-height: 15px;
      margin-top: 15px;
    }
    .resources-ul {
      line-height: 13px;
    }
    .resources-ul > li > a, .small-link {
      font-size: 13px;
      text-decoration: underline;
      color: indigo;
    }
    .resources-ul > li {
      display: block;
      margin-bottom: 2px;
    }
    .models-ul li {
      display: block;
      margin-top: 50px;
    }
    .models-ul li p {
      margin-top: 10px;
    }
    h4 {
        margin-top: 30px;
        border-bottom: 0.5px solid black;
        width: 200px;
        padding-bottom: 2px;
        margin-bottom: 8px;
        font-size: 15px;
    }
    section {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .images-div {
      margin-top: 50px;
    }
    .images-div img {
      margin-top: 20px;
      margin-bottom: 50px;
    }